{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Manage Category</h5>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Creation Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in category %}
                        <tr>
                            <td>{{i.categoryname}}</td>
                            <td>{{i.created_at}}</td>
                            <td>
                                <a href="{% url 'update_category' i.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'delete_category' i.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}