{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Manage Passes</h5>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Pass Number</th>
                            <th>Full Name</th>
                            <th>Mobile Number</th>
                            <th>Email</th>
                            <th>Creation Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in userpasses %}
                        <tr>
                            <td>{{i.passnumber}}</td>
                            <td>{{i.fullname}}</td>
                            <td>{{i.mobilenumber}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.passcreated_at}}</td>
                            <td>
                                <a href="{% url 'view_passes' i.id %}" class="btn btn-primary">View</a>
                                <a href="{% url 'delete_passes' i.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}